*{
margin:0;
padding:0;
}
#menu ul
{
  list-style:none;
  z-index: 1000;
}

#menu ul li
{
  background-color:blue;
  border:2px solid white;
  width: 192px;
  height: 40px;
  text-align:center;
  line-height:40px;
  float:left;
  position: relative;
}
#menu ul li a
{
  text-decoration:none;
  color: white;
  display:block;
}
#menu ul li a:hover
{
  background-color:green;
}
#menu ul ul
{
  position: absolute;
  display: none;
}
#menu ul li:hover > ul
{
  display: block;
}
/*background image*/
.full-page{
  height: 100%;
  width: 100%;
  background-image: url(loanbackground.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
}

